<h1>Как с нами связаться:</h1>
<p>Оставьте ваш email и доополнительную информацию.</p>
<form action="/contacts" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваш email:</label>
    <input type="email" class="form-control" name="user_email" placeholder="Ваш email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Дополнительная информация:</label>
    <textarea class="form-control" name="user_info" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
