<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='user_name' placeholder="username" autofocus>
  <input type="password" name='user_password' placeholder="password">
  <input class="btn primary" type='submit' value='log in'>
</form>
